.categories {
  padding-top: 180px;
}
.categories__innerTitle {
  padding-bottom: 80px;
}
.categories__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 69px;
}

.item-categories {
  cursor: pointer;
  position: relative;
  opacity: 0.8;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 100%;
}
.item-categories:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}
.item-categories:hover .item-categories__title {
  top: 50%;
}
.item-categories__image {
  position: relative;
  padding-bottom: 127%;
}
.item-categories__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-categories__title {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (max-width: 767.98px) {
  .categories {
    padding-top: 70px;
  }
  .categories__innerTitle {
    padding-bottom: 40px;
  }
  .categories__items {
    gap: 35px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .item-categories {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
  }
}
@media (max-width: 479.98px) {
  .categories {
    padding-top: 20px;
  }
  .categories__items {
    gap: 25px;
  }

  .item-categories__title {
    font-size: 15px;
  }
}